body {
  margin: 0;
  padding: 0;
}
.left_sidebar {
  width: 50%;
  height: 100vh;
  border-right: 1px solid #ddd;
  float: right;
}
.left_app_title p {
  font-size: 30px;
  margin-bottom: 0;
}
.right_sidebar {
  padding: 10px;
  width: 50%;
  height: 100vh;
  border-left: 1px solid #ddd;
}
.login_wrap {
  width: 50%;
  margin: 0 auto;
}
.login_wrap h1 {
  margin-left: 34.2%;
}
.login-form {
  max-width: 300px;
  margin: 0 auto !important;
  border: 1px solid #ddd;
  padding: 10px !important;
  border-radius: 5px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.profile__btn {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin-bottom: 10px;
}
.profile__btn img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.profile__btn Button {
  font-weight: 700;
  margin-bottom: 0;
}
.apps_logo {
  width: 100%;
  height: 50px;
  text-align: center;
  box-shadow: 0px 2px 2px #ddd;
}
.apps_logo img {
  margin-top: 10px;
  width: 5%;
  text-shadow: -3px -2px 5px #ffffff, 3px 2px 5px #a3b1c6;
}

.profile_cover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  z-index: -999;
  box-shadow: 0px 2px 2px #ddd;
}
.profile_cover img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.dp {
  z-index: 200;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -70px;
  background-color: aliceblue;
  text-align: center;
}
.dp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.pro_info_1 {
  text-align: center;
  margin-top: 20px;
}
.pro_info_1 .bio {
  margin-bottom: 0;
  margin-top: -10px;
}
.pro_info_1 .views {
  margin-bottom: 0;
}
.pro_info_2 ul {
  list-style: none;
}
.pro_info_2 ul li {
  padding: 5px;
}
.pro_info_2 ul li span {
  margin-left: 8px;
}
